h5{
    margin-bottom:-10px
}

button:focus {outline:0;}

.checkbox-boardTypes{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90% !important;
    align-items: flex-start;
    
}

.urlInfo{
    display: flex;
    align-items: center;
}

.urlInfo h4{
    margin-right: 10px;
}

#river-notes > div{
    padding-right:10px;
    min-width: 15vw
}

#turn-notes > div{
    padding-right:10px;
    min-width: 15vw
}

#flop-notes > div{
    padding-right:10px;
    min-width: 15vw
}

.checkbox-boardTypes > div{
    padding-right: 1vw;
    min-width: fit-content;
}

.cardStyling{
    font-weight: 1000;
    font-size: 30px;
    cursor: pointer;
}

.clickableSituations{
    cursor: pointer;
    color:blue
}


#flopDiv{
    min-width: 80px
}

.fullWidth{
    width: 100% !important;
}

.greyBackground{
    background-color: lightgray
}

.settings{
    display:none
}

.alignCenter:hover .settings {
    display: block;
}

.alignCenter{
    display: flex;
    align-content: center;
    align-items: center;
}

.borderBlack{
    border:1px solid black;
    padding:5px;
    margin-top:1vh;
    margin-right:1vw
}

.preflopNotes{
    display:none;
}

.preflopNotes-active{
    display:block;
    max-width: 100%!important;
}

.table-notes{
    display: flex;
}


.flopNotes{
    display:none;
}

.flopNotes-active{
    display:block;
}

.turnNotes{
    display:none
}

.turnNotes-active{
    display:block
}

.riverNotes{
    display:none
}

.riverNotes-active{
    display:block
}

.table td{
    padding: 0 0 0 15px;
}

.table thead th {
    width:auto
}

hr.dashed {
    border-top: 3px dashed #bbb;
    width: 40%;
  }

  #situationFilter{
      width: 35vw;
  }

.th-preflop{
    width:10% !important
}

.th-flop{
    width:30% !important
}

.th-turn{
    width:30% !important
}

.th-river{
    width:30% !important
}

always-show{
    display:blocks !important
}

.fitHeightNotes{
    width:18vw;
    height:12vh
}

#situationFilter{
    width: 18vw
}
