.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.cardStyling{
    font-weight: 1000;
    font-size: 30px;
    cursor: pointer;
}

.clickableSituations{
    cursor: pointer;
    color:blue
}


#flopDiv{
    min-width: 80px
}

.greyBackground{
    background-color: lightgray;
    border-color: black;
}

.preflopNotes{
    display:none;
}

.preflopNotes-active{
    display:block;
}

.flopNotes{
    display:none;
}

.flopNotes-active{
    display:block;
}

.turnNotes{
    display:none
}

.turnNotes-active{
    display:block
}

.riverNotes{
    display:none
}

.riverNotes-active{
    display:block
}

.table td{
    padding: 0 0 0 15px;
}

.table thead th {
    width:auto
}

hr.dashed {
    border-top: 3px dashed #bbb;
    width: 40%;
  }

  #situationFilter{
      width: 35vw;
  }

.th-preflop{
    width:10% !important
}

.th-flop{
    width:30% !important
}

.th-turn{
    width:30% !important
}

.th-river{
    width:30% !important
}