h2{
    padding-bottom: 3vh;
}

.top-decision{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

textarea{ 
    height:10vh
}

.top-decision textarea{
    margin-right: 10px;
    
    width:16vw !important;
    height:20vh !important
}

.bottom-decisions textarea{
    margin-right: 10px;
}

.bottom-decisions{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

label{
    color: gray;
    font-weight: 600;
}

.addProductItem{
    margin-right: 50px;
}

.divider{
    display: flex;
    margin-bottom: 3vh;
    height:fit-content;
    align-items: flex-start;
}

.visibleCards{
    font-weight: 1000;
    font-size: 70px;
    font-weight: bolder;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    width:100%;
    padding: 10px;
    border:1px solid black;
  }

  .notesOnDecisions{
      margin-bottom: 2vh;
      margin-top:1vh
  }